# Ignorar ambiente virtual
venv/

# Ignorar dados
data/input/*.xlsx   
data/output/*.xlsx
logs/*

# Mas manter os arquivos .gitkeep (truque para subir as pastas vazias)
!data/input/.gitkeep
!data/output/.gitkeep

# Ignorar cache do Python
__pycache__/
*.pyc